{
    email equipe-ti@municipio.ba.gov.br
}

app.localhost {
    forward_auth http://poc_iam:9000 {
        uri /outpost.goauthentik.io/auth/caddy
        copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Email
    }

    encode zstd gzip
    reverse_proxy app-escola:8000
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
    log {
        output file /var/log/caddy/app-access.log
        format json
    }
}

auth.localhost {
    encode zstd gzip
    reverse_proxy authentik-server:9000
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "SAMEORIGIN"
        Referrer-Policy "same-origin"
    }
    log {
        output file /var/log/caddy/auth-access.log
        format json
    }
}
